<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>154b146ff1d243bf992523a0defa234b</string>
	<key>client_secret
client_secret
client_secret
client_secret
client_secret</key>
	<string>fa9b433711914243abda24ebb788fbaa</string>
</dict>
</plist>
